.b-content__inner{*zoom:1;width:auto;max-width:940px;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:10px;padding-right:10px}.b-content__inner:before,.b-content__inner:after{content:'';display:table}.b-content__inner:after{clear:both}